@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$indigo-palette, 600, 500, 900);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$colorblind-primary: mat.define-palette(mat.$blue-palette);

$theme-light: mat.define-light-theme((color: (primary: $primary, accent: $accent)));
$theme-dark: mat.define-dark-theme((color: (primary: $primary, accent: $accent)));
$theme-color: mat.define-light-theme((color: (primary: $colorblind-primary, accent: $accent)));

@include mat.core();

[data-theme='light'] { @include mat.all-component-themes($theme-light); --bg:#ffffff; --text:#111; }
[data-theme='dark'] { @include mat.all-component-themes($theme-dark); --bg:#0f1720; --text:#e6eef6; }
[data-theme='colorblind'] { @include mat.all-component-themes($theme-color); --bg:#ffffff; --text:#102a43; }